@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "fontello";

:root {
    --color : #006699;
    --second-color : #17272F;
    --border-color : #EDF0F5;
    --body-color:#F4F2EF;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif ;
    &:focus {
        outline: 0;
    }
}

body{
    background-color: var(--body-color);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 2px;
    
    .container {
        max-width: 1128px;
        margin: 0 auto;
        height: 52px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        
        .logo img {
            width: 34px;
            height: 34px;
            margin-right: 8px;
        }
        
        .search {
            position: relative;
            margin-left: 8px;
            max-width: 280px;
            width: 100%;
            
            i {
                position: absolute;
                top: 0;
                left: 0;
                height: 34px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #666;
            }
            
            input {
                height: 34px;
                width: 100%;
                background-color: #eef3f8;
                border-radius: 4px;
                border: none;
                font-size: 14px;
                padding: 0 8px 0 40px;
                
                &::placeholder {
                    color: #666;
                }
                
                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 1px #242424;
                }
            }
        }
        
        .menu {
            margin-left: auto;
            
            ul {
                display: flex;
                height: 52px;
                align-items: center;
                
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    min-width: 80px;
                    position: relative;
                    
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: rgba(0, 0, 0, 0.6);
                        font-size: 12px;
                        padding: 0 8px;
                        text-align: center;
                        height: 52px;
                        
                        i {
                            font-size: 24px;
                            margin-bottom: 2px;
                        }
                        
                        span {
                            white-space: nowrap;
                            padding-bottom: 5px;
                        }
                        
                        &:hover {
                            color: rgba(0, 0, 0, 0.9);
                        }
                    }
                    
                    &.active {
                        a {
                            color: rgba(0, 0, 0, 0.9);
                            
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 2px;
                                background-color: #000;
                            }
                        }
                    }
                    
                    .notification-badge {
                        position: absolute;
                        top: 3px;
                        right: 23px;
                        background-color: #cc1016;
                        color: white;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    &.profile-menu img {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    
                    &.divider {
                        width: 1px;
                        height: 32px;
                        background-color: rgba(0, 0, 0, 0.15);
                        min-width: auto;
                        margin: 0 8px;
                    }
                }
            }
        }
    }
}

main {
    .container {
        display: flex;
        padding-top: 30px;
        .sidebar {
            min-width: 270px;
            width: 270px;

            .widget {
                background-color: #fff;
                border-radius: 6px;
                margin-bottom: 16px;
                padding: 15px;

               
                h6 {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--second-color);
                    padding-bottom: 8px;
                    margin-bottom: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .description {
                        display: block;
                        font-size: 10px;
                        color: #aaa;
                        margin-top: 4px;
                        
                    }
                    .more-btn {
                        color: #aaa;
                        font-size: 16px;
                        align-self: flex-start;
                        padding-left: 30px;
                        &:hover {
                            color: var(--color);
                        }
                    }
                }
            }

            .widget-stats {
               
                padding: 8px;
                
               .stat-user {
                text-align: left;
                padding-bottom: 16px;
                margin-bottom: 16px;
                
                .cover {
                    height: 43px;
                    background: url(../img/cover-bg.png) no-repeat center ;
                    background-size: cover;
                    border-radius: 4px;
                }
                .avatar {
                    position: relative;
                    text-align: left;
                    margin-top: -26px;
                    margin-bottom: 10px;
                    img {
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        display: block;
                        
                        border: 2px solid #fff ;
                    }
                }
                .name {
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--second-color);
                    
                }
                .job-title {
                    font-size: 14px;
                    color: var(--second-color);
                    margin-top: 4px;
                    margin-bottom: 5px;
                }
                .city{
                    color: #aaa;
                    font-size: 12px;
                }
                button{
                    
                    margin:20px 0 0 30px;
                    width: 200px ;
                    height: 32px;
                    background-color: #f4f2ee;
                    border: 1px dashed #9eb5ca;
                    

                    .exper-detail {
                       color: gray;
                       display: flex;
                       align-items: center;
                       i{
                        font-weight: 600;
                        font-size: 20px;
                       }
                    }
                }
                 
               }
              
            }

            .widget-newest, .widget-newest-second {
               
               
                ul {
                    padding-bottom: 30px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    li {
                        a{
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            color: var(--color);
                            padding: 4px 0;
                            &:hover {
                                color: #222;
                            }
                            i {
                                width: 21px;
                                font-size: 11px;
                                &.icon-hash {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            .widget-newest {
                ul {
                    padding: 0 7px 11px;
                    p{
                        font-size: 12px;
                        color: #aaa;
                        margin-bottom: 5px;
                    }
                    li {
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        a:hover{
                           
                                text-decoration: underline;
                            
                        }
                        .key {
                            color: var(--second-color);
                            font-weight: 600;
    
                        }
                        .value {
                            color: var(--color);
                            font-weight: 500;
                        }
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                 }
            }

            .widget-newest-second {
                margin-top: 30px;
                background-color: #fff;
                ul {
                    li{
                        a{
                            color: var(--second-color);
                        }
                    }
                }
            }

        
            
            .widget-recommendation {
                ul {
                    li {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 16px;
                        align-items: center;
                        a:first-child {
                            display: flex;
                            align-items: center;
                            .image {
                                min-width: 24px;
                                margin-right: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                    max-width: 100%;
                                }
                            }
                            .detail {
                                display: flex;
                                flex-direction: column;
                                .name {
                                    font-size: 14px;
                                    color: var(--second-color);
                                    font-weight: 500;
                                }
                                .alt-name {
                                    font-size: 11px;
                                    color: #AAAAAA;
                                    padding-top: 3px;
                                }
                            }

                            
                        }
                        a:last-child {
                            min-width: 24px;
                            width: 24px;
                            height: 24px;
                            border-radius: 4px;
                            color: var(--second-color);
                            font-size: 13px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 300ms background-color , 300ms color;
                
                        }
                    }
                }
                
                .widget-button {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--second-color);
                }
                
            }

            .widget-advertisement {
                padding: 20px 16px 10px;
                .get-updates {
                    .avatars {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 14px 30px 0 ;
                        a {
                            img{
                                border-radius: 50%;
                                width: 72px;
                                height: 72px;
                            }
                        }
                    }
                    p {
                        font-size: 14px;
                        color: var(--second-color);
                        line-height: 15px;
                        margin-top: 15px;
                        span {
                            font-weight: 500;
                        }
                    }
                }
            }

            .footer {
                margin-top: 16px;
                nav {
                    display: block;
                    unicode-bidi: isolate;
                    margin-bottom: 12px;
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        li {
                            display: flex;
                            margin: 3px 18px;
                            a{
                                font-size: 10px;
                                color: #aaa;
                                line-height: 13px;
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                               
                            }
                        }
                    }
                    
                }
                .copyright{
                    margin: 16px 24px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    font-size: 11px;
                    color: rgb(0 0 0 / .9);;
                    img {
                        height: 12px;

                    }
                }
            }
        }
        .content {
            flex: 1;
            margin: 0 30px;
            .create-post {
                background-color: #fff;
                padding: 16px 16px 10px;
                border-radius: 6px;
                margin-bottom: 20px;
                .create-header  {
                    display: flex;
                      img {
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        display: block;
                        
                        border: 2px solid #fff ;
                      }
                      button {
                        width: 100%;
                        height: 50px;
                        border: 1px solid rgb(0 0 0 / .3);;
                        border-radius: 30px;
                        flex-grow: 1;
                        margin: 0 10px ;
                        background-color: white;
                        position: relative;
                        display: flex;
                        align-items: center;
                       span {
                        position: absolute;
                        color: rgb(0 0 0 / .75);
                        margin: 15px;
                        font-weight: 500;
                        font-size: 14px;
                       }
                      }
                   
                }
               
                .actions {
                    
                    display: flex;
                    padding-top: 10px;
                    li {
                      flex: auto;
                      label {
                        cursor: pointer;
                        input{
                            display: none;
                        }
                      }
                      label, a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        border-radius: 4px;
                        color: var(--second-color);
                        padding: 7px 0;
                        &:hover {
                             background-color: #f7f7f7;
                        }

                        i{
                            margin-right: 8px;
                            &.icon-camera {
                                color: #31B057;
                            }
                            &.icon-video {
                                color: #388BF2;
                            }
                            &.icon-calendar{
                                color: #FC8338;
                            }
                            &.icon-edit {
                                color: #E52A34;
                            }

                        }
                      }
                    }
                }
            
            }
            .post {
                background-color: #fff;
                border-radius: 6px;
                padding: 13px 16px 20px;
                margin-bottom: 20px;
                .post-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 9px;
                    border-bottom: 1px solid #EDF0F5;
                    .post-author{
                        display: flex;
                        align-items: center;
                        img{
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            margin-right: 12px;
                        }
                        .name {
                            font-size: 14px;
                            font-weight: 500;
                            color: var(--second-color);
                        }
                        .job-title , .date {
                            font-size: 10px;
                            color: #aaa;
                        }
                        .job-title {
                            padding: 2px 0;

                        }
                    }
                    .more {
                        color: #aaa;
                        font-size: 19px;
                        &:hover {
                            color: var(--color);
                        }
                    }
                }
                .post-content {
                    padding: 20px 0 ;
                    p { 
                        font-size: 14px;
                        margin-bottom: 12px;
                        img {
                            max-width: 100%;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a{
                            font-weight: 500;
                            color: var(--color);
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .post-alt-detail {
                    display: flex;
                    font-size: 10px;
                    color: var(--second-color);
                    align-items: center;
                    padding-bottom: 14px;
                    border-bottom: 1px solid #EDF0F5;
                    margin-bottom: 14px;
                    .likes {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                        align-items: center;
                        position: relative;
                        &::after {
                            content: "\00b7";
                            width: 2px;
                            font-weight: 700;
                            margin-left: 8px;
                            color: var(--second-color);
                        }
                    }
                    i{
                        font-size: 14px;
                        margin-right: 10px;
                        &.icon-heart{
                            color: #E52A3A;
                        }
                        &.icon-thumbs-up {
                            color: #388BF2;
                        }
                    }
                }
                .post-actions {
                    display: flex;
                    justify-content: space-around;
                    padding-bottom: px;
                    font-weight: 600;
                   a{
                    font-size: 15px;
                    color: #605e5e;
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    font-family:  Helvetica, sans-serif;
                    i{
                        font-size: 15px;
                        margin-right: 3px;
                        color: #605e5e;
                        
                    }
                    &:hover {
                        color: var(--color);
                    }
                   }
                }
                .post-comment-form {
                    display: flex;
                    align-items: center;
                    img{
                        min-width: 32px;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        margin-right: 12px;

                    }
                    .textarea {
                        flex: 1;
                        border: 1px solid #EDF0F5;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        padding: 8px;
                        
                        textarea {
                            background: transparent;
                            width: 100%;
                            flex: 1;
                            resize: none;
                            height: 36px;
                            font-size: 14px;
                            padding: 8px;
                            &::placeholder {
                                color: #DEDEDE;
                            }
                        }
                        label {
                            cursor: pointer;
                            border-left: 1px solid #EDF0F5;
                            padding-left: 16px;
                            font-size: 18px;
                            color: #A7B4CC ;
                            padding-right: 5px;
                            &:hover {
                                color: var(--color);
                            }
                            input{
                                display: none;

                            }
                        }
                    }

                }
            }
        }
    }
}
    
.message-box {
    position: fixed;
    bottom: 0;
    right: 50px;
    
    .message-header {
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 1px solid #e0dede;
        background-color: #fff;
        border-radius: 8px 8px 0 0;
        padding: 0 10px;
        font-size: 14px;
        color: #202020;
        .img {
            position: relative;
            &::before {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: rgb(157, 161, 157);
                position: absolute;
                bottom: -1px;
                left: 50%;
                margin-left: 3px;
                border: 2px solid #fff;
            }
            &.online::before {
                background-color: green;
            }

        
            img {
                width:32px;
                height: 32px;
                border-radius: 50%;
                border: 2px solid #fff;
                display: block;
                margin-right: 7px;
            }

        }
        .actions {
            display: flex;
            margin-left: auto;
            a{
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #1a1919;
                font-size: 15px;
                margin-left: 5px;
                border-radius: 50%;
                &:hover {
                    background-color: rgba( #fff, .1) ;
                }
                i {
                    color: #6c6b6b;
                    font-size: 12px;
                    
                }
            }
        }
    }
}