@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?16366245");
  src: url("../font/fontello.eot?16366245#iefix") format("embedded-opentype"), url("../font/fontello.woff2?16366245") format("woff2"), url("../font/fontello.woff?16366245") format("woff"), url("../font/fontello.ttf?16366245") format("truetype"), url("../font/fontello.svg?16366245#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16366245#fontello') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before {
  content: "\e800";
} /* '' */
.icon-bags:before {
  content: "\e801";
} /* '' */
.icon-learn:before {
  content: "\e802";
} /* '' */
.icon-users:before {
  content: "\e803";
} /* '' */
.icon-usersli:before {
  content: "\e804";
} /* '' */
.icon-bell:before {
  content: "\e805";
} /* '' */
.icon-bookmark:before {
  content: "\e806";
} /* '' */
.icon-bussiness:before {
  content: "\e807";
} /* '' */
.icon-users-1:before {
  content: "\e808";
} /* '' */
.icon-close:before {
  content: "\e809";
} /* '' */
.icon-world:before {
  content: "\e80a";
} /* '' */
.icon-list-alt:before {
  content: "\e80b";
} /* '' */
.icon-info:before {
  content: "\e80c";
} /* '' */
.icon-right-open:before {
  content: "\e80d";
} /* '' */
.icon-up-open:before {
  content: "\e80e";
} /* '' */
.icon-down-open:before {
  content: "\e80f";
} /* '' */
.icon-up-open-big:before {
  content: "\e810";
} /* '' */
.icon-right-open-big:before {
  content: "\e811";
} /* '' */
.icon-left-open-big:before {
  content: "\e812";
} /* '' */
.icon-plus:before {
  content: "\e813";
} /* '' */
.icon-message:before {
  content: "\e814";
} /* '' */
.icon-calendar-empty:before {
  content: "\f133";
} /* '' */
.icon-right:before {
  content: "\f178";
} /* '' */
:root {
  --color: #006699;
  --second-color: #17272F;
  --border-color: #EDF0F5;
  --body-color:#F4F2EF;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*:focus {
  outline: 0;
}

body {
  background-color: var(--body-color);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 2px;
}
.header .container {
  max-width: 1128px;
  margin: 0 auto;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.header .container .logo img {
  width: 34px;
  height: 34px;
  margin-right: 8px;
}
.header .container .search {
  position: relative;
  margin-left: 8px;
  max-width: 280px;
  width: 100%;
}
.header .container .search i {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}
.header .container .search input {
  height: 34px;
  width: 100%;
  background-color: #eef3f8;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  padding: 0 8px 0 40px;
}
.header .container .search input::-moz-placeholder {
  color: #666;
}
.header .container .search input::placeholder {
  color: #666;
}
.header .container .search input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #0a66c2;
}
.header .container .menu {
  margin-left: auto;
}
.header .container .menu ul {
  display: flex;
  height: 52px;
  align-items: center;
}
.header .container .menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  position: relative;
}
.header .container .menu ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding: 0 8px;
  text-align: center;
  height: 52px;
}
.header .container .menu ul li a i {
  font-size: 24px;
  margin-bottom: 2px;
}
.header .container .menu ul li a span {
  white-space: nowrap;
  padding-bottom: 5px;
}
.header .container .menu ul li a:hover {
  color: rgba(0, 0, 0, 0.9);
}
.header .container .menu ul li.active a {
  color: rgba(0, 0, 0, 0.9);
}
.header .container .menu ul li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
}
.header .container .menu ul li .notification-badge {
  position: absolute;
  top: 5px;
  right: 18px;
  background-color: #cc1016;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .menu ul li.profile-menu img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .container .menu ul li.divider {
  width: 1px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.15);
  min-width: auto;
  margin: 0 8px;
}

main .container {
  display: flex;
  padding-top: 30px;
}
main .container .sidebar {
  min-width: 270px;
  width: 270px;
}
main .container .sidebar .widget {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 15px;
}
main .container .sidebar .widget .widget-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  color: var(--color);
  font-size: 14px;
  font-weight: 500;
}
main .container .sidebar .widget .widget-button:hover {
  color: #3e9fd0;
}
main .container .sidebar .widget h6 {
  font-size: 14px;
  font-weight: 500;
  color: var(--second-color);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .sidebar .widget h6 .description {
  display: block;
  font-size: 10px;
  color: #aaa;
  margin-top: 4px;
}
main .container .sidebar .widget h6 .more-btn {
  color: #aaa;
  font-size: 16px;
  align-self: flex-start;
  padding-left: 30px;
}
main .container .sidebar .widget h6 .more-btn:hover {
  color: var(--color);
}
main .container .sidebar .widget-stats {
  padding: 8px;
}
main .container .sidebar .widget-stats .stat-user {
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}
main .container .sidebar .widget-stats .stat-user .cover {
  height: 43px;
  background: url(../img/cover-bg.png) no-repeat center;
  background-size: cover;
  border-radius: 4px;
}
main .container .sidebar .widget-stats .stat-user .avatar {
  text-align: center;
  margin-top: -26px;
  margin-bottom: 10px;
}
main .container .sidebar .widget-stats .stat-user .avatar img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
}
main .container .sidebar .widget-stats .stat-user .name {
  font-size: 16px;
  font-weight: 500;
  color: var(--second-color);
}
main .container .sidebar .widget-stats .stat-user .job-title {
  font-size: 14px;
  color: #AAA;
  margin-top: 4px;
  margin-bottom: 16px;
}
main .container .sidebar .widget-stats ul {
  padding: 0 7px 11px;
}
main .container .sidebar .widget-stats ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
main .container .sidebar .widget-stats ul li .key {
  color: var(--second-color);
}
main .container .sidebar .widget-stats ul li .value {
  color: var(--color);
  font-weight: 500;
}
main .container .sidebar .widget-stats ul li:not(:last-child) {
  margin-bottom: 16px;
}
main .container .sidebar .widget-newest ul {
  padding-bottom: 30px;
}
main .container .sidebar .widget-newest ul:last-child {
  padding-bottom: 0;
}
main .container .sidebar .widget-newest ul li a {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--color);
  padding: 4px 0;
}
main .container .sidebar .widget-newest ul li a:hover {
  color: #222;
}
main .container .sidebar .widget-newest ul li a i {
  width: 21px;
  font-size: 11px;
}
main .container .sidebar .widget-newest ul li a i.icon-hash {
  font-size: 12px;
}
main .container .sidebar .widget-btn {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--second-color);
}
main .container .sidebar .widget-btn i {
  color: var(--color);
  font-size: 12px;
}
main .container .sidebar .widget-btn.more {
  height: 56px;
  color: var(--color);
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  transition: 300ms background-color, 300ms color;
}
main .container .sidebar .widget-btn.more:hover {
  color: #fff;
  background: var(--color);
}
main .container .sidebar .widget-recommendation ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}
main .container .sidebar .widget-recommendation ul li a:first-child {
  display: flex;
  align-items: center;
}
main .container .sidebar .widget-recommendation ul li a:first-child .image {
  min-width: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .sidebar .widget-recommendation ul li a:first-child .image img {
  max-width: 100%;
}
main .container .sidebar .widget-recommendation ul li a:first-child .detail {
  display: flex;
  flex-direction: column;
}
main .container .sidebar .widget-recommendation ul li a:first-child .detail .name {
  font-size: 14px;
  color: var(--second-color);
  font-weight: 500;
}
main .container .sidebar .widget-recommendation ul li a:first-child .detail .alt-name {
  font-size: 12px;
  color: #AAAAAA;
  padding-top: 3px;
}
main .container .sidebar .widget-recommendation ul li a:last-child {
  min-width: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color);
  border-radius: 4px;
  color: var(--color);
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms background-color, 300ms color;
}
main .container .sidebar .widget-recommendation ul li a:last-child:hover {
  background: var(--color);
  color: #fff;
}
main .container .sidebar .widget-advertisement {
  padding: 20px 16px 10px;
}
main .container .sidebar .widget-advertisement .get-updates .avatars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px 0;
}
main .container .sidebar .widget-advertisement .get-updates .avatars a img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
main .container .sidebar .widget-advertisement .get-updates p {
  font-size: 14px;
  color: var(--second-color);
  line-height: 15px;
  margin-top: 15px;
}
main .container .sidebar .widget-advertisement .get-updates p span {
  font-weight: 500;
}
main .container .sidebar .footer {
  padding-top: 38px;
}
main .container .sidebar .footer nav {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 12px;
}
main .container .sidebar .footer nav a {
  font-size: 10px;
  color: #aaa;
  margin-right: 15px;
  margin-bottom: 16px;
}
main .container .sidebar .footer .copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: #aaa;
}
main .container .sidebar .footer .copyright img {
  height: 12px;
}
main .container .content {
  flex: 1;
  margin: 0 30px;
}
main .container .content .create-post {
  background-color: #fff;
  padding: 16px 16px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}
main .container .content .create-post textarea {
  width: 100%;
  resize: none;
  height: 60px;
  font-size: 14px;
}
main .container .content .create-post textarea::-moz-placeholder {
  color: #aaa;
}
main .container .content .create-post textarea::placeholder {
  color: #aaa;
}
main .container .content .create-post .actions {
  border-top: 1px solid #EDF0F5;
  display: flex;
  padding-top: 8px;
}
main .container .content .create-post .actions li {
  flex: auto;
}
main .container .content .create-post .actions li label {
  cursor: pointer;
}
main .container .content .create-post .actions li label input {
  display: none;
}
main .container .content .create-post .actions li label, main .container .content .create-post .actions li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px;
  color: var(--second-color);
  padding: 7px 0;
}
main .container .content .create-post .actions li label:hover, main .container .content .create-post .actions li a:hover {
  background-color: #f7f7f7;
}
main .container .content .create-post .actions li label i, main .container .content .create-post .actions li a i {
  margin-right: 8px;
}
main .container .content .create-post .actions li label i.icon-camera, main .container .content .create-post .actions li a i.icon-camera {
  color: #31B057;
}
main .container .content .create-post .actions li label i.icon-video, main .container .content .create-post .actions li a i.icon-video {
  color: #388BF2;
}
main .container .content .create-post .actions li label i.icon-calendar, main .container .content .create-post .actions li a i.icon-calendar {
  color: #FC8338;
}
main .container .content .create-post .actions li label i.icon-edit, main .container .content .create-post .actions li a i.icon-edit {
  color: #E52A34;
}
main .container .content .post {
  background-color: #fff;
  border-radius: 6px;
  padding: 13px 16px 20px;
  margin-bottom: 20px;
}
main .container .content .post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9px;
  border-bottom: 1px solid #EDF0F5;
}
main .container .content .post .post-header .post-author {
  display: flex;
  align-items: center;
}
main .container .content .post .post-header .post-author img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
}
main .container .content .post .post-header .post-author .name {
  font-size: 14px;
  font-weight: 500;
  color: var(--second-color);
}
main .container .content .post .post-header .post-author .job-title, main .container .content .post .post-header .post-author .date {
  font-size: 10px;
  color: #aaa;
}
main .container .content .post .post-header .post-author .job-title {
  padding: 2px 0;
}
main .container .content .post .post-header .more {
  color: #aaa;
  font-size: 19px;
}
main .container .content .post .post-header .more:hover {
  color: var(--color);
}
main .container .content .post .post-content {
  padding: 20px 0;
}
main .container .content .post .post-content p {
  font-size: 14px;
  margin-bottom: 12px;
}
main .container .content .post .post-content p img {
  max-width: 100%;
}
main .container .content .post .post-content p:last-child {
  margin-bottom: 0;
}
main .container .content .post .post-content p a {
  font-weight: 500;
  color: var(--color);
}
main .container .content .post .post-content p a:hover {
  text-decoration: underline;
}
main .container .content .post .post-alt-detail {
  display: flex;
  font-size: 10px;
  color: var(--second-color);
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid #EDF0F5;
  margin-bottom: 14px;
}
main .container .content .post .post-alt-detail .likes {
  display: flex;
  align-items: center;
  margin-right: 10px;
  align-items: center;
  position: relative;
}
main .container .content .post .post-alt-detail .likes::after {
  content: "·";
  width: 2px;
  font-weight: 700;
  margin-left: 8px;
  color: var(--second-color);
}
main .container .content .post .post-alt-detail i {
  font-size: 14px;
  margin-right: 10px;
}
main .container .content .post .post-alt-detail i.icon-heart {
  color: #E52A3A;
}
main .container .content .post .post-alt-detail i.icon-thumbs-up {
  color: #388BF2;
}
main .container .content .post .post-actions {
  display: flex;
  padding-bottom: 20px;
}
main .container .content .post .post-actions a {
  font-size: 16px;
  color: #aaa;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
main .container .content .post .post-actions a i {
  font-size: 20px;
  margin-right: 5px;
}
main .container .content .post .post-actions a:hover {
  color: var(--color);
}
main .container .content .post .post-comment-form {
  display: flex;
  align-items: center;
}
main .container .content .post .post-comment-form img {
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}
main .container .content .post .post-comment-form .textarea {
  flex: 1;
  border: 1px solid #EDF0F5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px;
}
main .container .content .post .post-comment-form .textarea textarea {
  background: transparent;
  width: 100%;
  flex: 1;
  resize: none;
  height: 36px;
  font-size: 14px;
  padding: 8px;
}
main .container .content .post .post-comment-form .textarea textarea::-moz-placeholder {
  color: #DEDEDE;
}
main .container .content .post .post-comment-form .textarea textarea::placeholder {
  color: #DEDEDE;
}
main .container .content .post .post-comment-form .textarea label {
  cursor: pointer;
  border-left: 1px solid #EDF0F5;
  padding-left: 16px;
  font-size: 18px;
  color: #A7B4CC;
  padding-right: 5px;
}
main .container .content .post .post-comment-form .textarea label:hover {
  color: var(--color);
}
main .container .content .post .post-comment-form .textarea label input {
  display: none;
}

.message-box {
  position: fixed;
  bottom: 0;
  right: 50px;
}
.message-box .message-header {
  width: 270px;
  height: 56px;
  display: flex;
  align-items: center;
  background: linear-gradient(289.57deg, #006699 20.9%, #009099 111.3%);
  border-radius: 6px 6px 0 0;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}
.message-box .message-header .img {
  position: relative;
}
.message-box .message-header .img::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(157, 161, 157);
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: 3px;
  border: 2px solid #fff;
}
.message-box .message-header .img.online::before {
  background-color: green;
}
.message-box .message-header .img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  margin-right: 7px;
}
.message-box .message-header .actions {
  display: flex;
  margin-left: auto;
}
.message-box .message-header .actions a {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  margin-left: 5px;
  border-radius: 50%;
}
.message-box .message-header .actions a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}/*# sourceMappingURL=style.css.map */